BiodatenMinimal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cmd="http://www.clarin.eu/cmd/1"
    xmlns:cue="http://www.clarin.eu/cmd/cues/1" xmlns:cue_old="http://www.clarin.eu/cmdi/cues/1"
    xmlns:cmdp="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1610707853515"
    targetNamespace="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1610707853515"
    elementFormDefault="qualified">
    <xs:annotation>
        <xs:appinfo xmlns:ann="http://www.clarin.eu">
            <cmd:Header>
                <cmd:ID>clarin.eu:cr1:p_1610707853515</cmd:ID>
                <cmd:Name>BiodatenMinimal</cmd:Name>
                <cmd:Description>provides a minimal set of metadata in the bioinformatics
                    domain</cmd:Description>
                <cmd:Status>development</cmd:Status>
            </cmd:Header>
        </xs:appinfo>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:import namespace="http://www.clarin.eu/cmd/1"
        schemaLocation="https://infra.clarin.eu/CMDI/1.x/xsd/cmd-envelop.xsd"/>
    <xs:simpleType name="simpletype-typeOfStudy-clarin.eu.cr1.c_1610707853509">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eukaryote" cmd:label=" "/>
            <xs:enumeration value="bacteria_archaea" cmd:label=" "/>
            <xs:enumeration value="plasmid" cmd:label=" "/>
            <xs:enumeration value="virus" cmd:label=" "/>
            <xs:enumeration value="organelle" cmd:label=" "/>
            <xs:enumeration value="metagenome" cmd:label=""/>
            <xs:enumeration value="mimarks-survey" cmd:label=" "/>
            <xs:enumeration value="mimarks-specimen" cmd:label=" "/>
            <xs:enumeration value="metatranscriptome" cmd:label=" "/>
            <xs:enumeration value="single amplified genome" cmd:label=" "/>
            <xs:enumeration value="metagenome-assembled genome" cmd:label=" "/>
            <xs:enumeration value="uncultivated viral genomes" cmd:label=""/>
            <xs:enumeration value="proteomics" cmd:label=""/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-typeOfStudy-clarin.eu.cr1.c_1610707853509">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-typeOfStudy-clarin.eu.cr1.c_1610707853509"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-typeOfMethod-clarin.eu.cr1.c_1610707853510">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sequencing method" cmd:label=" "/>
            <xs:enumeration value="isolation method" cmd:label=" "/>
            <xs:enumeration value="protein analysis method" cmd:label=" "/>
            <xs:enumeration value="particle analysis method" cmd:label=""/>
            <xs:enumeration value="other" cmd:label="Please describe your method below"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-typeOfMethod-clarin.eu.cr1.c_1610707853510">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-typeOfMethod-clarin.eu.cr1.c_1610707853510"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-isolationMethod-clarin.eu.cr1.c_1610707853510">
        <xs:restriction base="xs:string">
            <xs:enumeration value="flow cytometric cell sorting" cmd:label=" "/>
            <xs:enumeration value="microfluidics" cmd:label=" "/>
            <xs:enumeration value="lazer-tweezing" cmd:label=" "/>
            <xs:enumeration value="optical manipulation" cmd:label=" "/>
            <xs:enumeration value="micromanipulation" cmd:label=" "/>
            <xs:enumeration value="density cushion" cmd:label=" "/>
            <xs:enumeration value="density gradient" cmd:label=" "/>
            <xs:enumeration value="(differential) (ultra)centrifugation" cmd:label=" "/>
            <xs:enumeration value="filtration" cmd:label=" "/>
            <xs:enumeration value="immunoaffinity" cmd:label=" "/>
            <xs:enumeration value="size-exclusion chromatography" cmd:label=" "/>
            <xs:enumeration value="ultrafiltration" cmd:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-isolationMethod-clarin.eu.cr1.c_1610707853510">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-isolationMethod-clarin.eu.cr1.c_1610707853510"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-proteinAnalysisMethod-clarin.eu.cr1.c_1610707853510">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELISA" cmd:label=" "/>
            <xs:enumeration value="flow cytometry" cmd:label=" "/>
            <xs:enumeration value="immun-electron microscopy" cmd:label=" "/>
            <xs:enumeration value="proteomics" cmd:label=" "/>
            <xs:enumeration value="western blot" cmd:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-proteinAnalysisMethod-clarin.eu.cr1.c_1610707853510">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-proteinAnalysisMethod-clarin.eu.cr1.c_1610707853510"
            />
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-particleAnalysisMethod-clarin.eu.cr1.c_1610707853510">
        <xs:restriction base="xs:string">
            <xs:enumeration value="asymmetric flow field flow fractionation" cmd:label=" "/>
            <xs:enumeration value="atomic force microscopy" cmd:label=" "/>
            <xs:enumeration value="dynamic light scattering" cmd:label=" "/>
            <xs:enumeration value="electron microscopy" cmd:label=" "/>
            <xs:enumeration value="high resolution flow cytometry" cmd:label=" "/>
            <xs:enumeration value="nanoparticle tracking analysis" cmd:label=" "/>
            <xs:enumeration value="tunable resistive pulse sensing"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-particleAnalysisMethod-clarin.eu.cr1.c_1610707853510">
        <xs:simpleContent>
            <xs:extension
                base="cmdp:simpletype-particleAnalysisMethod-clarin.eu.cr1.c_1610707853510"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-environmentalPackage-clarin.eu.cr1.c_1610707853512">
        <xs:restriction base="xs:string">
            <xs:enumeration value="air" cmd:label=""/>
            <xs:enumeration value="built environment" cmd:label=""/>
            <xs:enumeration value="host-associated" cmd:label=""/>
            <xs:enumeration value="human-associated" cmd:label=""/>
            <xs:enumeration value="human-gut" cmd:label=""/>
            <xs:enumeration value="human-oral" cmd:label=""/>
            <xs:enumeration value="human-skin" cmd:label=""/>
            <xs:enumeration value="human-vaginal" cmd:label=""/>
            <xs:enumeration value="hydrocarbon resources-cores" cmd:label=""/>
            <xs:enumeration value="hydrocarbon resources-fluids/swabs" cmd:label=""/>
            <xs:enumeration value="microbial mat/biofilm" cmd:label=""/>
            <xs:enumeration value="miscellaneous natural or artificial environment" cmd:label=""/>
            <xs:enumeration value="plant-associated" cmd:label=""/>
            <xs:enumeration value="sediment" cmd:label=""/>
            <xs:enumeration value="soil" cmd:label=""/>
            <xs:enumeration value="wastewater/sludge" cmd:label=""/>
            <xs:enumeration value="water" cmd:label=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-environmentalPackage-clarin.eu.cr1.c_1610707853512">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-environmentalPackage-clarin.eu.cr1.c_1610707853512"
            />
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="BiodatenMinimal">
        <xs:annotation/>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Study" cmd:ConceptLink="https://schema.org/MedicalStudy"
                    minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>A medical study in bioinformatics</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="biologicalBackground" minOccurs="1" maxOccurs="1"
                                type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>information about the biological background of
                                        the study such as experiment aim and the main experimental
                                        factors and variables</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="typeOfStudy"
                                cmd:ConceptLink="http://gensc.org/ns/mixs/investigation_type"
                                minOccurs="1" maxOccurs="1"
                                type="cmdp:complextype-typeOfStudy-clarin.eu.cr1.c_1610707853509"
                                cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>Investigation type</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="RunID" minOccurs="1" maxOccurs="unbounded"
                                type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>any identifier that references an experimental
                                        run</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1610707853509"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Experiment" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>A bioinformatics experiment that examines samples with a
                            scientific method</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="typeOfMethod" minOccurs="1" maxOccurs="1"
                                type="cmdp:complextype-typeOfMethod-clarin.eu.cr1.c_1610707853510">
                                <xs:annotation>
                                    <xs:documentation>class of method used</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="method" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>if typeOfMethod is other, description of
                                        method in a few words. </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="dependsOn">
                                                <xs:annotation>
                                                  <xs:documentation>Only use if typeOfMethod is
                                                  other, give description of
                                                  method</xs:documentation>
                                                </xs:annotation>
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="typeOfMethod"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="isolationMethod" minOccurs="0" maxOccurs="1"
                                type="cmdp:complextype-isolationMethod-clarin.eu.cr1.c_1610707853510">
                                <xs:annotation>
                                    <xs:documentation>name of the isolation method
                                        used</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="proteinAnalysisMethod" minOccurs="0" maxOccurs="1"
                                type="cmdp:complextype-proteinAnalysisMethod-clarin.eu.cr1.c_1610707853510">
                                <xs:annotation>
                                    <xs:documentation>name of the protein analysis method
                                        used</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="particleAnalysisMethod" minOccurs="0" maxOccurs="1"
                                type="cmdp:complextype-particleAnalysisMethod-clarin.eu.cr1.c_1610707853510"
                                cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>name of the particle analysis method
                                        used</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="URLMethodDescription"
                                cmd:ConceptLink="https://schema.org/MedicalScholarlyArticle"
                                minOccurs="0" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>link to scientific paper where method has been
                                        described (use persistent identifiers such as DOIs, if
                                        possible)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SequencingAnalysisType" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>Information on the sequencing analysis type in
                                        bioinformatic experiments</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="metagenomics" minOccurs="1" maxOccurs="1">
                                            <xs:annotation/>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="assembly_qual" minOccurs="1"
                                                  maxOccurs="1" type="xs:string"
                                                  cue:DisplayPriority="1">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="assembly_name" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="assembly_software" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="annot" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="number_contig" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="feat_pred" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="ref_db" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="sim_search_method" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="Seq_16s_recover" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="Seq_16s_recover_software"
                                                  minOccurs="1" maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="trnas" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="trna_ext_software" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="compl_score" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="compl_software" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="compl_appr" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="contam_score" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="contam_screen_input"
                                                  minOccurs="1" maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="contam_screen_param"
                                                  minOccurs="1" maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="decontam_software" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="bin_param" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="bin_software" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="reassembly_bin" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="mag_cov_software" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute ref="xml:base"/>
                                                <xs:attribute ref="cmd:ref"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="amplicon_sequencing" minOccurs="1"
                                            maxOccurs="1">
                                            <xs:annotation/>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="nucl_acid_amp" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="target_gene" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="target_subfragment"
                                                  minOccurs="1" maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="pcr_primers" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="adapters" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="pcr_cond" minOccurs="1"
                                                  maxOccurs="1" type="xs:string">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                  <xs:element name="chimera_check" minOccurs="1"
                                                  maxOccurs="1" type="xs:string"
                                                  cue:DisplayPriority="1">
                                                  <xs:annotation/>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute ref="xml:base"/>
                                                <xs:attribute ref="cmd:ref"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute ref="xml:base"/>
                                    <xs:attribute ref="cmd:ref"/>
                                    <xs:attribute ref="cmd:ComponentId"
                                        fixed="clarin.eu:cr1:c_1610707853516"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1610707853510"/>
                        <xs:attribute name="experimentID" use="required"
                            cmd:ConceptLink="https://schema.org/identifier" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>The experiment's unique identifier (used for the
                                    definition of experimental runs)</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Sample" cmd:ConceptLink="https://bioschemas.org/types/Sample"
                    minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Sample: a material entity that is representative of a
                            whole, see also
                            http://purl.jp/bio/4/id/200906034237481745</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="organism"
                                cmd:ConceptLink="http://purl.jp/bio/4/id/200906079942882108"
                                minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>name of the organism used in the sample; use a
                                        controlled vocabulary by make reference to an ontology such
                                        as
                                        http://purl.obolibrary.org/obo/OBI_0100026</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="specimenTissueType"
                                cmd:ConceptLink="http://purl.jp/bio/4/id/200906048950987544"
                                minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>name of the material (structure, substance,
                                        device) removed from a source (patient, donor, physical
                                        location, product) OR a material entity that has the
                                        specimen role. Please use controlled vocabulary such as
                                        http://purl.obolibrary.org/obo/OBI_0100051</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="cellType"
                                cmd:ConceptLink="http://purl.jp/bio/4/id/201106077286713294"
                                minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>name of the cell type used in the sample. Use
                                        controlled vocabulary such as
                                        https://bioportal.bioontology.org/ontologies/CL or
                                        http://purl.obolibrary.org/obo/CL_0000000</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="proteinID" minOccurs="0" maxOccurs="1"
                                type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>name of the protein, possibly by using a
                                        controlled term from a protein database</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="environmentID"
                                cmd:ConceptLink="https://schema.org/identifier" minOccurs="1"
                                maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>identifier of the environment (used by the
                                        specification of samples)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="sampleBackground" minOccurs="1" maxOccurs="1"
                                type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>description of the sample</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1610707853511"/>
                        <xs:attribute name="sampleID" use="required"
                            cmd:ConceptLink="https://schema.org/identifier" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>reference to your sample (used for the definition
                                    of runs)</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Environment"
                    cmd:ConceptLink="http://dx.doi.org/10.1186/2041-1480-4-43" minOccurs="1"
                    maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Environment: a system which has the disposition to environ
                            one or more material entities.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="environmentalPackage"
                                cmd:ConceptLink="http://gensc.org/ns/mixs/env_package" minOccurs="1"
                                maxOccurs="1"
                                type="cmdp:complextype-environmentalPackage-clarin.eu.cr1.c_1610707853512"
                                cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>Environment in which the sample was
                                        taken</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="broadScaleEnvironmentalContext"
                                cmd:ConceptLink="http://purl.obolibrary.org/obo/ENVO_00000428"
                                minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>Broad ecological context your sample or
                                        specimen came from. Please use the vocabulary defined in
                                        http://purl.obolibrary.org/obo/ENVO_00000428</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="environmentalMedium"
                                cmd:ConceptLink="http://purhttp://purl.obolibrary.org/obo/ENVO_00010483"
                                minOccurs="1" maxOccurs="1" type="xs:anyURI">
                                <xs:annotation>
                                    <xs:documentation>Environmental material or materials
                                        immediately surrounded your sample or specimen prior to
                                        sampling. Please use the vocabulary defined in
                                        http://purl.obolibrary.org/obo/ENVO_00010483</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1610707853512"/>
                        <xs:attribute name="environmentID" use="required"
                            cmd:ConceptLink="https://schema.org/identifier" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>identifier of the environment (used by the
                                    specification of samples)</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Run" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>An experimental run works on either a sample and returns
                            raw data, or works on raw data to produce results
                            data</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sampleID_or_dataId"
                                cmd:ConceptLink="https://schema.org/identifier" minOccurs="1"
                                maxOccurs="unbounded" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>reference to the sample or (raw) data with a
                                        unique identifier</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataID"
                                cmd:ConceptLink="https://schema.org/identifier" minOccurs="1"
                                maxOccurs="unbounded" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>reference to the data resulting from a RUN
                                        with a unique identifier</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="experimentID"
                                cmd:ConceptLink="https://schema.org/identifier" minOccurs="1"
                                maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>reference to the experiment in which context
                                        the RUN took place</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="runBackground" minOccurs="1" maxOccurs="1"
                                type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>description of the experimental run in a few
                                        words</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1610707853513"/>
                        <xs:attribute name="runID" use="required"
                            cmd:ConceptLink="https://schema.org/identifier" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>unique identifier for each run</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Data" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>data gathered in an experiment</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dataBackground" minOccurs="0" maxOccurs="unbounded"
                                type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>description of the data in a few
                                        words</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataReference" minOccurs="1" maxOccurs="1"
                                type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>location where the data is
                                        stored</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1610707853514"/>
                        <xs:attribute name="dataID" use="required"
                            cmd:ConceptLink="https://schema.org/identifier" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>identifier to uniquely refer to data obtained in a
                                    study</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
            <xs:attribute ref="cmd:ref"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
